.addTimes {
    background-color: #629711;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
}

.addTimes:hover {
    background-color: #3a580c;
}
