@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.appHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 15px 30px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 130px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    height: auto;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-left: 20px;
    color: #ECF0F1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    line-height: 1.2;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #BDC3C7;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .subtitle {
        display: none;
    }

    .appHeader {
        flex-direction: row;
        justify-content: center;
        padding: 10px 20px;
    }

    .title {
        font-size: 28px;
    }

    .logoContainer {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .appHeader {
        padding: 8px 15px;
    }

    .title {
        font-size: 24px; /* Zmniejsz rozmiar tytułu */
    }
}
