.container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    animation: fadeInOut 3s ease-in-out;
}

.label {
    margin: 10px 30px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    white-space: nowrap;
}
