.container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.label {
    margin: 0 30px 0 0; /* Increase the right margin for more space */
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    white-space: nowrap;
}

.select {
    width: 150px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-right: 20px;
    flex-shrink: 0; /* Prevents the select from shrinking */
}

.select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
